n   = "myapp"
r   = "us-east-1"
img = "123456789.dkr.ecr.us-east-1.amazonaws.com/myapp:latest"
p   = 8080
cnt = 2
e   = "prod"
vpc = "vpc-0abc123"
sn  = ["subnet-0abc123", "subnet-0def456"]
mn  = 1
mx  = 10
tgt = 75
